// Variables Grid
$grid-columns: 12;
$gutter: .75rem;


// Variables Colors
$colorPrimary: #3f3858;
$colorSecond: #ffd300;
$white: #FFFFFF;

// Variables Font
$fontPrimary: 'SkolaSans', sans-serif;
$fontSecond: 'Bebas', sans-serif;