@import '../../stylesheet/_config';
@import '../../stylesheet/_mixins';

.card{
    margin: 6rem 0 4rem 0;
    box-shadow: 0px 0px 99.91px 3.09px rgba(0, 0, 0, 0.2); 
    border-radius: .8rem;

    &_left{
        background: $colorPrimary;
        @include font($font:$fontPrimary, $size:2.6rem, $line_height:2.6rem, $color:$white, $font_weight:400);
        border-top-left-radius: .8rem;
        border-bottom-left-radius: .8rem;
        padding-left: 5.5rem !important;
        padding-right: 7rem !important;
        padding-top: 3rem;
        padding-bottom: 3rem;

        &_transition{
            position: absolute;
            top: 0;
            left: -100%;
            height: 100%;
            width: 100%;
            background: $colorPrimary;
        }

        &:after{
            content: "VS";
            @include font($font:$fontSecond, $size:5.5rem, $line_height:13rem, $color:$white, $font_weight:400);
            background: $colorPrimary;
            text-align: center;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 12rem;
            height: 12rem;
            transform: translate(50%, -50%);
            border-radius: 50%;
        }
    }

    &_right{
        @include font($font:$fontPrimary, $size:2.6rem, $line_height:2.6rem, $color:$colorPrimary, $font_weight:400);
        padding-left: 7rem !important;
        padding-right: 5.5rem !important;
        padding-top: 3rem;
        padding-bottom: 3rem;

        &_transition{
            position: absolute;
            top: 0;
            left: -100%;
            height: 100%;
            width: 100%;
            background: white;
        }
    }

    &_picture{
        width: 100%;
        height: 18rem;
        position: relative;
        //border-radius: .8rem;
        background-size: cover;
        background-position: right top;
        background-color: $colorPrimary;
        overflow: hidden;
        background-blend-mode: screen;
    }

    &_text{
        display: block;
        margin-top: 3rem;

        &:after{
            content: "";
            display: block;
            height: .5rem;
            width: 8rem;
            background: $colorSecond;
            margin: 1.5rem 0 0 0;
        }

       span{
          font-size: 1.8rem;
          display: block; 
       } 
    }
}

.mask{
    overflow: hidden;
    padding-bottom: 1rem;
}