@import '../../stylesheet/_config';
@import '../../stylesheet/_mixins';

.navbar{
    color: $colorPrimary;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-bottom: solid .1rem $colorPrimary;
    margin: 4rem 0;    

    &--active{
        border-bottom: solid .3rem $colorSecond;
        background: rgba($colorPrimary, .1);
    }

    li{
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 12rem;
        margin: 0;
        padding-bottom: 2rem;
        @include font($font:$fontPrimary, $size:1.4rem, $line_height:1.8rem, $color:$colorPrimary, $font_weight:700);
        cursor: pointer;

        span{
            display: block;
        }

        i{
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
}