@import '../../stylesheet/_config';
@import '../../stylesheet/_mixins';

.navbar{
    color: $colorPrimary;
    text-align: center;
    margin: 0;
    padding: 0;
    display: table;
    border-bottom: solid .1rem $colorPrimary;
    margin: 4rem auto;   
    text-align: center; 

    &--active{
        border-bottom: solid .3rem $colorSecond;
        background: rgba($colorPrimary, .1);
    }

    li{
        @include font($font:$fontPrimary, $size:1.4rem, $line_height:1.8rem, $color:$colorPrimary, $font_weight:700);        
        display: table-cell;
        vertical-align: top;
        width: 13rem;
        margin: 0;
        padding-bottom: 2rem;
        padding-top: 1rem;
        cursor: pointer;
        transition: 1s all;

        span{
            display: block;
        }

        i{
            font-weight: 400;
            font-size: 1.2rem;
        }

        &:hover{
            background: rgba($colorPrimary, .1);
        }
    }
}