@import '../../stylesheet/_config';
@import '../../stylesheet/_mixins';

.argument{
    &_candidate{
        margin-bottom: 3rem;
        margin-top: 6rem;
        position:relative;

        &:before{
            content: "VS";
            @include font($font:$fontPrimary, $size:3rem !important, $line_height:5.5rem, $color:$colorSecond, $font_weight:700);
            display: block;
            text-align: center;
            border-radius: 50%;
            border: solid .2rem $colorSecond;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 6rem;
            height: 6rem;
            transform: translate(-50%, -50%);
        }

        &_name{
            @include font($font:$fontPrimary, $size:3rem !important, $line_height:3rem, $color:$colorPrimary, $font_weight:400);
            text-align: center;
        }

        &_category{
            @include font($font:$fontPrimary, $size:2rem !important, $line_height:2rem, $color:$colorPrimary, $font_weight:400);
            text-align: center;
            position: relative;
            margin-bottom: 6rem;

            &:after{
                content: "";
                display: block;
                background: $colorSecond;
                position: absolute;
                bottom: -3rem;
                left: 50%;
                width: 10rem;
                height: .5rem;
                transform: translateX(-50%);
            }
        }

        &_compare{
            margin: 7rem 0;

            ul{
                vertical-align: top;
                padding: 0 5.5rem 0 5.5rem;

                &:last-child{
                    border-left: .1rem solid $colorPrimary
                }

                li{
                    @include font($font:$fontPrimary, $size:1.6rem, $line_height:2.4rem, $color:$colorPrimary, $font_weight:400);
                }
            }
        }
    }
}