@import '../../stylesheet/_config';
@import '../../stylesheet/_mixins';

.slider{
    &_title{
		@include font($font:$fontPrimary, $size:2.8rem, $line_height:3rem, $color:$colorPrimary, $font_weight:400);
        padding-top: 1rem;
        padding-bottom: 3rem;
        
        span{
            position: relative;

            &:after{
                content: "";
                position: absolute;
                bottom: -.8rem;
                display: block;
                height: .2rem;
                width: 100%;
                background: $colorSecond;
            }
        }
        
    }

    &_wrapper{
        .flickity-prev-next-button:disabled{
            opacity: 1;
        }
        .previous{
            height: 101%;
            left: 0 !important;
            width: 8rem;
            border-radius: 0;
            background: linear-gradient(to right, #fff 20%, rgba(255, 255, 255, 0) 100%);
            transition: all 1s;

            &:hover{
                background: linear-gradient(to right, #fff 20%, rgba(255, 255, 255, 0) 100%);
            }

            svg{
                height: 2.5rem;
                width: 2.5rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .next{
            height: 101%;
            right: 0 !important;
            width: 8rem;
            border-radius: 0;
            background: linear-gradient(to left, #fff 20%, rgba(255, 255, 255, 0) 100%);
            transition: all 1s;

            &:hover{
                background: linear-gradient(to left, #fff 20%, rgba(255, 255, 255, 0) 100%);
            }

            svg{
                height: 2.5rem;
                width: 2.5rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &_select{
        width: 3rem;
        height: 3rem;
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        transform: scale(.5);
        opacity: 0;
        transform-origin: center;
        transition: 1s all ease-out;
    }

    &_slide{
        width: 21rem;
        height: 11.5rem;
        background-size: cover;
        background-position: right top;
        background-color: $colorPrimary;
        background-blend-mode: screen;
        overflow: hidden;
        padding: 1rem;
        position: relative;
        border-radius: .5rem;
        cursor: pointer;
        margin: 0 1rem;
        transition: 1s all;
        display: inline-block;

        &_text{
            @include font($font:$fontPrimary, $size:1.6rem, $line_height:2rem, $color:$white, $font_weight:400);
            margin: 0;

            strong{
                display: block;
            }
        }

        &--active{
            &:before{
                content: '';
                display: block;
                position: absolute;
                height: .8rem;
                width: 100%;
                background: $colorSecond;
                bottom: 0;
                left: 0;
                animation: active 1s;
            }

            .slider_select{
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

@include keyframes(active) {
    from {transform: translateY(.8rem);}
    to {transform: translateY(0rem);}
}
